<%- include('layout') %>
 
          <h1><%= title %></h1>

          <ul>
            <% if (products.length > 0) { %> <% products.forEach(function(product) { %>
            <li>
              <a href="<%= product.url %>"><%= product.name %></a>
              <span>(<%= product.category.name %>)</span>
              <span><%= product.price %></span>
              <span><%= product.numberInStock %></span>
              
            </li>
            <% }); %> <% } else { %>
            <li>There are no products.</li>
            <% } %>
          </ul>

 


 
 

<%- include('footer') %>